/* 
* {
	border: 1px solid rgb(215, 158, 158);
}
*/

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #011128;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 20px;
}

.hero {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	gap: 30px;
}

.story {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	text-align: center;
}

h1 {
	color: white;
  
}
.windowpic {
	width: 500px;
	border-radius: 30px;
}
.name {
	color: white;
}

.nameandlogo {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.logo {
	width: 40px;
	color: white;
}

ul {
	list-style: none;
	display: flex;
	gap: 15px;
	margin: 0;
	padding: 0;
}

a, a:active {
	text-decoration: none;
	color: white;
}